<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>987339085155-r0g5n8bu04et3pviv2vs0uvdq668fa1m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.987339085155-r0g5n8bu04et3pviv2vs0uvdq668fa1m</string>
	<key>API_KEY</key>
	<string>AIzaSyDwmK0yRt9OW44jGZdnSTIGr6HPc3HIC4E</string>
	<key>GCM_SENDER_ID</key>
	<string>987339085155</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.batuga.notesApp</string>
	<key>PROJECT_ID</key>
	<string>batuga-notes-app</string>
	<key>STORAGE_BUCKET</key>
	<string>batuga-notes-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:987339085155:ios:98c22f54a020ac9dcb6f56</string>
</dict>
</plist>